h1 {
  
    color: black;
    text-align: center;
    font: <link rel="stylesheet" href="https://use.typekit.net/pty5jfi.css">;
  
  
    font-family: mono45-headline, monospace;
    font-weight: 500;
    font-style: normal;
    
    
  }
  
   #colorstrip{
      width: 100%; height: 60px;
      border-style: solid;
      border-color: yellow;
      background-color: yellow;
  }
  
  }
  
  p {
  
   font-family: mono45-headline, monospace;
   font-weight: 500;
   font-style: normal;
  
  }
  
  body {
    color: white;
    background: black;
    text-align: center;
  }